.searchContainer {
  position: absolute;
  top: 0;
  left: 0;

  margin: 2rem 0 0 6rem;

  width: 15rem;

  padding: 1rem;
  border: none;
  outline: none;
  
  border-radius: 4px;

  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);


  color: white;
  
  z-index: 999;
}